@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);


:root{
    --blue:#005AE2;
    --black: #141414;
    --gray:#FEFEFE;
    --gradient: linear-gradient(left to right,#1E3448, hsla(209, 41%, 20%, 0));
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins','Lato', sans-serif;
}

body {
    height: 100%;
    max-width: 1440px;
    display: grid;
    place-self: center;
    place-content: center;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.navigation{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    justify-content: space-between;
    max-width: 1440px;
    padding: 10px 0;
}

.nav-text{
    max-width: 504px;
    justify-content: space-evenly;
    /* background-color: red; */
}

.nav-text ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.nav-text ul li{
    text-align: center;
    padding: 0 10px;
}

.nav-text a{
    color: var(--black);
    font-size: 1rem;
    font-weight: light;
}

#active{
    color: var(--blue);
    /* font-weight: 800; */
    /* background-color: red; */
}

.login-part ul{
    display: grid;
    justify-content: space-between;
    place-items: center;
    place-content: center;
    /* place-self: center; */
    grid-template-columns: repeat(2, 1fr);
}

.login{
    color: var(--blue);
}

.try-free{
    background: var(--blue);
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
}

.hero-section{
    place-self: center;
    place-content: center;
    /* display: grid; */
    max-width: 948px;
    margin-top: 100px;
    padding: 20px 0;
    text-align: center;
}

.bluetext{
    color: var(--blue);
}

.hero-text h1{
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 2;
    letter-spacing: -2px;
}

.hero-text p{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 30px;
    width: 850px;
    place-self: center;
}

.hero-section-signup{
    display: flex;
    place-items: center;
    place-content: center;
    margin-top: 40px;
}

.hero-section-signup a{
    padding: 10px 60px;
}

.sign{
    background: var(--blue);
    color: white;
    padding: 10px 60px;
    border-radius: 50px;
}

.learn{
    color: var(--blue);
    padding: 10px 60px;
    border-radius: 50px;
}

.middle-image{
    display: grid;
    place-items: center;
    place-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: rgba(244, 244, 244, 0.418);
    padding: 30px 60px;
    border-radius: 50px;
    border: #005AE2 solid 1px;
}

.middle-image p{
    width: 400px;
    padding-top: 20px;
    line-height: 1.8;
}

.hero-sub-section{
    display: grid;
    place-items: center;
    place-content: center;
    background-color: #f9fbfd;
    height: 220px;
}

.hero-subsection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    place-content: center;
}

.hero-subsection-right-text{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    place-items: center;
    place-content: center;
}

.hero-subsection-left-text h3{
    font-size: 2.8rem;
    width: 400px;
    /* height: 2.4rem; */
    font-weight: 600;
    line-height: 1.2;
}

.hero-subsection-right-text{
    width: 709px;
    display: grid;
    align-items: start;
}

.subsection-right-text h4{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    padding-bottom: 10px;
}

 .section2-container{
    display: grid;
    margin-top: 50px;
    /* place-items: center; */
    /* place-content: center; */
    /* align-items: center; */
} 

 .section2{
    /* width: 1440px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* justify-content: space-between; */
    /* place-content: center; */
    /* align-items: center; */
    
    
    /* gap: 20px; */
    grid-template-columns: repeat(2, 1fr);
} 

.section2-leftpart{
    width: 382px;
    margin-left: 160px;
    /* place-self: center; */
    /* place-content: center; */
    /* place-items: center; */
    /* text-align: center; */
    /* background-color: red; */
}

.section2-leftpart h4{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    padding: 20px 0px;
}

.section2-leftpart p{
    line-height: 2;
}

.section2-rightpart{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* place-items: center; */
    /* place-content: center; */
    /* place-self: center; */
    gap: 20px;
}

.rightpart-box{
    gap: 50px 50px;
}

.rightpart-boxes{
    margin-bottom: 60px;
    /* background-color: red; */
}

.rightpart-boxes h4{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--black);
    padding: 20px 0px;
}

.rightpart-boxes p{
    line-height: 2;
}
