:root{
    --blue:#005AE2;
    --black: #141414;
    --gradient: linear-gradient(left to right,#1E3448, hsla(209, 41%, 20%, 0));
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    max-width: 1440px;
    display: grid;
    justify-content: center;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.navigation{
    display: flex;
    justify-content: space-between;
    /* place-items: center; */
}

.nav-text{
    display: flex;
    flex: 1;
}
